body {
  text-align: center;
}
#first_div {
  box-sizing: border-box;
  width: 200px;
  border: 5px;
  padding: 10px;
  border-color: red;
  border-style: solid;
  margin: 20px;
}

#second_div {
  box-sizing: border-box;
  width: 200px;
  border: 5px;
  padding: 10px;
  border-color: rgb(14, 170, 0);
  border-style: solid;
  margin: 20px;
}
